$background-color: #E0F6FD;
$background-body-color: #3B3B3B;
$heading-color: #FCCD10;
$text-color: #FFFFFF;
$img-border: #FCCD10;
$brief-background-color: #FFF178;
$brief-width: 100%;
$link-color: #F5C70F;
$link-hover: #FFA500;
$table-background-color: #677D01;
$th-background-color: #94A34E;
$label-text-color: #E99D37;
$input-border: #94A34E;