$background-color: #DCBB9A;
$background-body-color: #FFFFFF;
$heading-color: #893C00;
$text-color: #000000;
$img-border: #893C00;
$brief-background-color: #FADCBA;
$brief-width: 45%;
$link-color: #3D86C2;
$link-hover: #0000FF;
$table-background-color: #FFFFFF;
$th-background-color: #E0E0E0;
$label-text-color: #808080;
$input-border: #E0E0E0;